.music
	.music_wrap
		.logo
			.logo_image.green
				.helper.music_helper
		%p
			Mūzikas festivālu
			%span gaidītāko mākslinieku
			plakāts
		%a.button{ :href => music_path } Atvērt
	.landing_overlay
.manifest
	.manifest_wrap
		.logo
			.logo_image.red
				.helper.manifest_helper
		%p
			Mūzikas festivālu sezonas
			share* konkursu
			%span manifests
		%a.button{ :href => manifest_path } Atvērt
	.landing_overlay