.about
	%h1 Mūzikas festivālu sezonas share* konkursu manifests
	%p
		Gadu no gada mēs atkārtoti piedzīvojam vienu un to pašu. Tuvojoties mūzikas festivālu sezonai, sarosās sociālo tīklu konkursu organizatori, kuri vilina ar iespējām laimēt biļetes uz festivāliem un tādā veidā propagandē savus korporatīvos profilus.
		Attapīgākie festivālu biļetes iepērk jau janvārī, lai jūlijā būtu nodrošināta sociālie tīklu komunikācijas strātēģija un garantija par jauniem “Like”. Tas ir kļuvis nekontrolējami un šādas komunikācijas stratēģija - pašsaprotama, jo “to jau dara visi - tad jau tas ir okey”. Lai arī situācija pat varētu šķist bezcerīga, mēs, Latvian Music Summer entuziasti, esam atklājuši, ka šim visam izrādās ir risinājums, jo
		%b “Share, Tag, Cover, Retweet...”  konkursi patiesībā ir PRET Facebook, Draugiem, Twitter lietošanas noteikumiem. 
		Mēs nebūsim tie, kuri mācīs visiem šiem uzņēmumiem lasīt noteikumus un kā pieņemt darbā kompetentus komunikācijas menedžerus vai kā atlaist esošos. Bet šovasar mēs esam tie, kuri vērš uzmanību uz šo problēmu un aicina interneta lietotājus, sociālo tīklu entuziastus un nozares profesionāļus izvēlēties savu attieksmi pret share konkursiem. Musicsummer.lv ir neatkarīga un atvērta platforma, kur jebkuram ir tiesības iesaistīties. Pateicoties
		%a{ :href => 'http://creativecommons.org/licenses/by-nc/4.0/', :target => '_blank' } Creative Common Attribution-NonCommercial 4.0 International
		licencei, manifesta teksts ir atvērts brīvai kopēšanai, pārpublicēšanai, rediģēšanai un uzlabošanai
		%a{ :href => 'https://docs.google.com/document/d/1O-o9fhy1IcClhLi9PUi1NRMqyrpzmQmLXYuyZXbFSa4/edit', :target => '_blank' } Google Drive Docs.
		Web platfomas Source-Code ir brīvi pieejams
		%a{ :href => 'https://github.com/JVeart/musicsummer_14', :target => '_blank' }GitHub.
		Kopā mēs varam piedzīvot nākošo Latvijas mūzikas vasaru ar brīvāku internetu no šādiem konkursiem!
	
	%h1 Maini savu attieksmi !
	%p
		Esam secinājuši, ka nav vērts tērēt laiku un enerģiju, cīnoties pret šo konkursu organizētājiem tiešā veidā, jo mēs ticam, ka patiesas pārmaiņas var sākties, mums pašiem mainot attieksmi pret mums apkārt notiekošo.
		Tādēļ šovasar mēs iedrošinam jūs ignorēt visus Facebook, Twitter, Draugiem biļešu konkursus, izvēloties nereaģēt ar savu balsi internetā, jo tieši tā ir problēmas būtība kā šādi konkursi spēj eksistēt un gūt tik milzīgu rezonanci.
		Mēs esam izveidojuši šo Latvian Music Summer 2014 paralēlo lapu, lai nevis radītu acumirklīgas pārmaiņas, bet veicinātu komunikācijas menedžeriem un sociālo tīklu lietotājiem uzdot sev jautājumus. Un ne mazāk būtiski, dot arī uzziņas materiālus, jo esam pārliecināti, ka šādu konkursu organizēšanu veicina cilvēku zināšanu trūkums par sociālo platformu noteikumiem. Tas ir kļuvis pašsaprotami un tā ir apzināšanās, kurai ir jāmainās.

	%h1 Cien. mārketinga menedžeri,
	%p
		Mēs iesakam jums izlasīt visus sociālo tīklu lietošanas noteikumus,
		%b jo organizēti konkursi, kuri netiek bāzēti uz piem. Facebook fanu lapu third-party aplikācijām un/vai kuru dalībai par priekšnoteikumu tiek prasīta share funkcija, ir nelikumīgi.
		Katru dienu Facebook aizver kādu fanu lapu par noteikumu pārkāpumiem un tas, ka mēs par to nedzirdam tik bieži kā būtu vajadzīgs, nenozīmē, ka tas nenotiek vispār.
		Mēs jau esam sameklējuši literatūru jūsu vietā un pat izrēķinājuši aptuvenu laiku cik prasīs izlasīt noteikumus (aprēķini veikti pēc vīdējā lasīšanas ātruma: 3 vārdi/sekundē)
		%br
		%br
		%a{ :href => 'https://www.facebook.com/page_guidelines.php', :target => '_blank' } Facebook Pages Terms
		(6 min.)
		%br
		%a{ :href => 'www.draugiem.lv/help/?tab=7', :target => '_blank' } Draugiem.lv lapu lietošanas noteikumi
		(10 min.)
		%br
		%a{ :href => 'www.draugiem.lv/help/?tab=7', :target => '_blank' } Guidelines for contests on Twitter
		(2 min.)
		%br
		%br
		Izvērtējiet cik pozitīvas emocijas jūs radāt zīmolam, kura labā katru rītu ceļaties un dodaties uz darbu, lai komunicētu ar tā sekotājiem. Latvijā pietiekami bieži tiek organizēti dažādi semināri un meistarklases, kur notiek ideju apmaiņa ar citiem nozares profesionāļiem.
		%b Vienmēr var atrast vai izveidot alternatīvas,
		kā organizēt kvalitatīvākus konkursus un nodrošināt līdzvērtīgus rezultātus.
		%b Izprotot noteikumus, vienmēr ir iespējams balansēt arī uz atļauts/neatļauts robežas. Un tas ir okey, jo tas liecina, ka zināt savas tiesības, esat radoši un uzņematies atbildību.
		
	%h1 Cien. sociālo tīklu lietotāj,
	%p
		Vienīgais cilvēks, kurš kaut ko iegūs no tavas rīcības izvēles padot tālāk konkursu, būs tikai tas 1 cilvēks no 1000*, kurš reāli laimēs apsolīto festivāla biļeti. Pārējie balvā saņems vilšanos. 
		Kas ir patiesā cena, kuru tu maksā, piedaloties konkursā, kad dzirdi balsi savā galvā: “Bet, ja nu šoreiz paveiksies?” Ar savu rīcību, tu atņem izvēles brīvību apkārtējiem.
		%b Brīvība nav darīt to, ko vēlies, bet izvēlēties savu attieksmi un apzināties kādas sekas izraisa jebkura tava izvēle.
		Ja Tevi neapmierina fakts, ka savu sociālo tīklu jaunumu sienā katrs 4. ieraksts ir kārtējais share  konkurss, mēs aicinam tevi uzņemties atbildību, jo tikai sākot ar sevi tu piedzīvosi pārmaiņas.
		
	%h1 F*$# šito!
	%p
		Turpmāk, kad Facebook, Twitter, Draugiem ieraudzīsi kārtējo konkursu, kur, lai reģistrētos dalībai, kā priekšnoteikumi norādītas darbības Like, Share, Tag, Cover, Comment, Tag, Patīk, Ieteikt draugiem, Retweet, Follow, Favorite -
		%b nokopē linku un pievieno to musicsummer.lv/manifests pieķerto konkursu plakātā.
		Mēs izvērtēsim katru iesniegto linku un, ja konstatēsim noteikumu pārkāpumus, to pievienosim “nemīlētāko share konkursu organizētāju plakātā”. Papildus vari balsot ar “f*$# šito” ikoniņu par savu favorītu-pēdiņās. No lietotājiem mēs neievācam nekāda veida personiskos datus, tādēļ varam garantēt 100% anonimitāti.
	
	%h1 Kas notiks tālāk?
	%p
		Mūsu mērķis ir piedzīvot nākošo Latvijas mūzikas vasaru ar brīvāku internetu no šādiem konkursiem.
		Vasaras beigās mēs apkoposim plakātā pievienotos pieķertos konkursus un noskaidrosim atbildīgos uzņēmumus. Sazināsimies ar viņiem un silti pasveicināsim mārketinga menedžeri rudenī. Nosūtīsim šīs iniciatīvas konceptu, rezultātus - jūsu attieksmi un papildus padziļinātāku informāciju par visiem sociālo tīklu lietošanas noteikumiem, ieteikumiem, idejām, ko kopā būsim radījuši atvērtajā
		%a{ :href => 'https://docs.google.com/document/d/1O-o9fhy1IcClhLi9PUi1NRMqyrpzmQmLXYuyZXbFSa4/edit', :target => '_blank' } Google Drive dokumentā.
		Lai izvairītos no saspīlējumiem, ir būtiski saprast, ka šī iniciatīva nav izveidota, lai apzināti celtu neslavu kādam uzņēmumam. Tas notiek tikai tad, ja to dara pats uzņēmums. Mēs esam radījuši rīku un platformu, kura neatkarīgi atspoguļo reālo situāciju un ar tās saturu mums nav nekāda kontakta, izņemot datu uzglabāšanu mūsu serverī. Gribiet to vai nē, bet platforma liks uzņemties atbildību par sociālo tīklu lietošanas noteikumiem, kuriem tika piekrists ar brīdi, kad tika izvedots profils kādā no šiem sociālo tīklu portāliem (ja tas ir pārsteigums, tā notiek, kad nelasa līgumus).
	
	%h1 Share* šo ziņu un laimē biļetes uz festivāliem!
	%p
		Asprātīgi, vai ne? Bet šo konkursu izskaušana nemaina faktu, ka mums visiem patīk laimēt brīvbiļetes. Tāds ir mūsu DNS, mēs vienkārši gribam visu, kas ir par brīvu. Atņemot jums šo iespēju, mēs jūtam atbildību, tādēļ pretī dodam jaunas, kvalitatīvākas alternatīvas:
		%br
		%ol
			%li Visi, kuri pievieno pieķerto konkursu linkus, piedalās konkursā par biļetēm uz festivāliem.
			%li Arī šogad, pievienojot savus gaidītākos māksliniekus Latvijas mūzikas festivālos, jūs piedalīsieties izlozē un daži no jums laimēs biļetes. Bet tie tūkstoši, kuri nelaimēs - mēs jums jau avansā dāvinam šo tautas veidoto mūzikas vasaras ceļvedi, brīvu no organizatoru ambīcijām izcelt svarīgākos māksliniekus, jo 2012. gada vasarā šis projekts tika veidots ar mērķi radīt alternatīvas sadzirdēt par lielisku mūziku, kura ne vienmēr ir ar Lielu fontu uz festivālu oficiālajiem plakātiem.
		%br
		
		Tava paša atbildība izlasīt arī mūsu noteikumus, jo nezināšana tev atņems brīvību.
		
	
	%h1 Jā, mēs aicinam tevi šērot, lai nešērotu!
	%p
		Esam izveidojuši četrus šī manifesta plakātus. Jūsu brīvība tos lejuplādēt, augšuplādēt, dalīties, printēt, līmēt, pārveidot un jebkādi citāti izplatīt, paužot savu attieksmi.

	.media
		.media_item
			%img{ :src => '/LMS14_manifests.jpg' }
			%a.button{ :href => '/LMS14_manifests.jpg', :download => true } Lejuplādēt
		.media_item
			%img{ :src => '/LMS14_manifest_draugiem.jpg' }
			%a.button{ :href => '/LMS14_manifest_draugiem.jpg', :download => true } Lejuplādēt
		.media_item
			%img{ :src => '/LMS14_manifest_twitter.jpg' }
			%a.button{ :href => '/LMS14_manifest_twitter.jpg', :download => true } Lejuplādēt
		.media_item
			%img{ :src => '/LMS14_manifest_facebook.jpg' }
			%a.button{ :href => '/LMS14_manifest_facebook.jpg', :download => true } Lejuplādēt
		.clear
		%a.button.zip_download{ :href => '/LMS14_manifests.zip', :download => true } Lejuplādēt .ZIP