.manifest
	.manifest_wrap
		.logo
			.logo_image.red
				.helper.manifest_helper
		.text
			%p
				Mūzikas festivālu sezonas
				share* konkursu
				%span manifests
			%a.button{ :href => manifest_path } Atvērt