.about
	.about_wrap
		%h1 Mūzikas festivālu gaidītāko mākslinieku plakāts

		%p
			Latvija. 34 festivāli. 600+ mākslinieki. 40+ skatuves. 1 vasara.
			%br
			Latvian Music Summer ir mūzikas vasaras ceļvedis, brīvs no festivālu organizatoru ambīcijām izcelt svarīgākos māksliniekus. Šis ir plakāts, kur visi makslinieki ir uzrakstīti vienā burtu fonta lielumā un nevienu mākslinieku nesauc “u.c.”. Šis ir neatkarīgs un atvērts plakāts, kuru brīvi veido tauta.

		%h1 Pievieno savus gaidītākos māksliniekus un laimē biļetes uz festivāliem
		%p
			Šogad mēs esam arī apņemušies vērts uzmanību uz mūzikas festivālu sezonas raksturīgajiem share* kokursiem, kur aicinam jūs izvelēties savu attieksmi pret tiem.
			%a.ajax_link{ :href => '/manifests' }musicsummer.lv/manifests
			Taču šo konkursu izskaušana nemaina faktu, ka mums visiem patīk laimēt brīvbiļetes. Tāds ir mūsu DNS, mēs vienkārši gribam visu, kas ir par brīvu. Atņemot jums šo iespēju, mēs jūtam atbildību, tādēļ pretī dodam jaunas, kvalitatīvākas alternatīvas:
			%br
			%br
				%ol
					%li Pievienojot un balsojot par saviem gaidītākajiem māksliniekiem Latvijas mūzikas festivālos, jūs piedalīsieties izlozē, un daži no jums laimēs biļetes. Bet tie tūkstoši, kuri nelaimēs - mēs jums jau avansā dāvinam šo tautas veidoto mūzikas vasaras ceļvedi.
					%li
						Visi, kuri pievieno pieķerto konkursu linkus
						%a.ajax_link{ :href => '/manifests' } musicsummer.lv/manifests,
						piedalās konkursā par biļetēm uz festivāliem.

			Jūsu pašu atbildība izlasīt arī mūsu
			%a.ajax_link{ :href => '/rules' }noteikumus,
			jo nezināšana jums atņem brīvību.


		-# %h1 Klausies savu mūzikas vasaru pludmalē, pļavā vai stopojot uz festiem
			%p
				Nekādas aplikāciju instalēšanas. Vienkārši atver
				%a.ajax_link{ :href => '/muzika' } musicsummer.lv/muzika
				uz jebkuras mobīlās ierīces un klausies!



		%h1 Kurš maksā un kurš dara?
		%p
			Projekts tiek realizēts jau 3. vasaru. Ziņkārības arhīvs:
			%br
			%a{ :href => 'http://jveart.com/#lms12', :target => '_blank' } 2012, Line-up Poster Made by Non-Advertisers
			%br
			%a{ :href => 'http://jveart.com/#lms13', :target => '_blank' } 2013, Pop-up Social Network
			%br
			%br
			Iniciatīvu realizē dizaina un mūzikas mārketinga aģentūra
			%a{ :href => 'http://jveart.com/', :target => '_blank' } JVeart.
			Šis ir mūsu radīts, neatkarīgs projekts, kuru komerciālu nolūku motivēts, nav subsidējis neviens klients.
			Šis ir bezpeļņas projekts, kas nozīmē, ka “Latvian Music Summer” arī nākotnē nav iespējams nopirkt.
			Šī ir dāvana tautai un kamēr tā ir kustībā, tā ir dzīva.
			%br
			%br
			Ieteikumiem raksti uz hello[at]jveart.com

= render 'application/footer'
.second_footer
	= render 'second_footer'
	.footer_overlay
