.share
	%h1
		Pievienots!
	%p
		Ja esi sajūsmā par šo atvērto platformu, mums nevajag, lai tu šēro gatavu mārketinga tekstu. Dodam linku un brīvību tev pašam izvēlēties ko vēlies rakstīt, lai aizsūtītu mūzikas vasaru draugam Skype, WhatsApp, Facebook, Twitter vai citādi.
	.links
		.share_link
			%input.copy_field{ :value => 'http://musicsummer.lv/muzika/#'+ ( !params[:artist].blank? ? params[:artist].gsub(" ", "-") : '' ) }
				
			.button
				Iezīmēt linku
		.hashtag
			%input.copy_field{ :value => '#manavasara'}
			.button
				Iezīmēt haštagu
		.clear