.logo
	.logo_text
		33 festivāli
		%br
		600+ mākslinieki
		%br
		40+ skatuves
		%br
		1 vasara
	.logo_image
.calendar
.teaser
	%h1 Drīzumā
	%p
		Latvijas mūzikas festivālu gaidītāko mākslinieku plakāts un mūzikas festivālu sezonas share* konkursu manifests.
		Nenokavē mūzikas vasaru:
		%a{ :href => '' } Facebook,
		%a{ :href => '' } Twitter,
		%a{ :href => '' } Draugiem.
	.teaser_warp
		.right_side
		.teaser_image
.share
	%h1
		Dalies
		%span tālāk
	%p
		Dodam linku un brīvību tev pašam izvēlēties ko vēlies rakstīt, lai aizsūtītu mūzikas vasaru draugam
		Skype, WhatsApp, Facebook, Twitter vai citādi.
	.links
		.share_link
			.copy_field
				http://musicsummer.lv/muzika
			.button
				Kopēt linku
		.hashtag
			.copy_field
				\#manavasara
			.button
				Kopēt haštagu
		.clear
.social_links
	%a{ :href => '' } E-pasts
	%a{ :href => '' } Facebook
	%a{ :href => '' } Twitter
	%a{ :href => '' } Draugiem
	%a{ :href => '' } Uz augšu ↑ 
	