/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.teaser_warp
{
	position: relative;
	padding-top: 45px;
	margin-top: 90px;
}
.teaser .right_side
{
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	height: 655px;
	background-color: #3C5B97;
	z-index: -1;
	
}
.teaser .teaser_image
{
	background-image: url("/assets/teaser.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 610px;
    margin-left: -1px;
    width: 100%;
}
