/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.logo
{
	padding-top: 90px;
	width: 100%;
	height: 255px;
	position: relative;
}
.logo .logo_text
{
	font-size: 22px;
	line-height: 32px;
	position: absolute;
	text-align: right;
	top: 125px;
	right: 50%;
	margin-right: 135px; 
}
.logo .logo_image
{
    background-image: url("/assets/logo.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 255px;
	position: absolute;
	top: 90px;
	left: 50%;
    margin-left: -85px;
    width: 257px;
}
.calendar
{
	margin-top: 100px;
	margin-bottom: 160px;
}
.calendar .festivals a
{
	color: #25ae5f;
	font-size: 18px;
	line-height: 29px;
	text-decoration: none;
	font-weight: bold;
}
.calendar .festivals a:hover
{
	text-decoration: underline;
	color: #25ae5f;
}
.calendar .festivals
{
	font-size: 20px;
	width: 620px;
	margin: 0 auto;
	line-height: 29px;
}
.calendar h1
{
	margin-bottom: 80px;
	margin-top: 65px;
}
.calendar .upcoming
{
	margin-bottom: 140px;
}
.calendar .past
{
	margin-bottom: 90px;
}
.calendar .festival_item
{
	margin-bottom: 20px;
}
.calendar .festival_item > div
{
	float: left;
}
.calendar .festival_item .name
{
	width: 250px;
	font-weight: bold;
	margin-right: 55px;
}
.calendar .festival_item .date
{
	width: 200px;
}

.calendar .festival_item .link
{
	text-align: right;
	width: 115px;
}
.calendar .past .festival_item .date
{
	width: 160px;
	margin-left: 40px;
}
.calendar hr.green
{
	background-color: #26AF5F;
    height: 8px;
    margin: 0 auto;
    width: 800px;
}
.calendar .more
{
	text-align: center;
}
.teaser_warp
{
	position: relative;
	padding-top: 45px;
	margin-top: 90px;
}
.teaser .right_side
{
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	height: 655px;
	background-color: #3C5B97;
	z-index: -1;
	
}
.teaser .teaser_image
{
	background-image: url("/assets/teaser.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 610px;
    margin-left: -1px;
    width: 100%;
}
.share
{
	margin-top: 150px;
	width: 775px;
	margin-left: auto;
	margin-right: auto;
}
.share .links > div
{
	float: left;
	width: 50%;
	text-align: center;
}
.share .copy_field
{
    border: 2px dashed #D4D4D4;
    border-radius: 4px;
    color: #25AE5F;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    height: 25px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-bottom: 18px;
    margin-top: 60px;
    padding: 10px 0;
    text-align: center;
}
.share .share_link .copy_field
{
	width: 340px;
}
.share .hashtag .copy_field
{
	width: 230px;
}
.social_links
{
	margin-top: 160px;
	margin-bottom: 25px;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}
.social_links a
{
	color: #c1c1c1;
	text-decoration: none;
	padding: 0 6px;
	margin: 0 7px
}
.social_links a:hover
{
	color: #a09f9f;
}