.controller-landing
{
	height: 100%;
	color: #c1c1c1;
}
.controller-landing .logo
{
    padding-bottom: 85px;
}
.controller-landing .logo .logo_image
{
    left: 40px;
    margin-left: 0;
}
.controller-landing .manifest .logo .logo_image
{
    left: 108px;
    margin-left: 0;
}
.controller-landing a
{
	text-decoration: none;
}
.controller-landing p
{
	width: 290px;
	margin-bottom: 40px;
}
.controller-landing p span
{
	color: #a09f9f;
}
.controller-landing .manifest p span
{
	color: #5e6eaf;	
}
.controller-landing .music_wrap,
.controller-landing .manifest_wrap
{
	z-index: 1;
	position: relative;
	width: 440px;
	text-align: center;
}
.controller-landing .music_wrap
{
	float: right;
}
.controller-landing .manifest_wrap
{
	float: left;
}
.controller-landing .music,
.controller-landing .manifest
{
	position: absolute;
	top: 0;
	width: 50%;
	padding-bottom: 60px;
}
.controller-landing .music
{
	left: 0;
}
.controller-landing .manifest
{
	left: 50%;
}
.body-landing footer
{
	display: none;
}
.landing_overlay
{
	background-color: rgba(35, 39, 48, 0.37);
    height: 100%;
    pointer-events: none;
    position: fixed;
    width: 50%;
    z-index: 1;
	transition: opacity 0.3s ease-in-out 0s;
	-webkit-transition: opacity 0.3s ease-in-out 0s;
}
.manifest .landing_overlay
{
	left: 50%;
}
.music .landing_overlay
{
	left: 0;
}
.controller-landing >div:hover .landing_overlay
{
	opacity: 0;
}