.artists
{
	width: 800px;
	margin: -30px auto 0;
	text-align: center;
}
.artists .button.shift_right
{
    margin-left: 170px;
}
.artists h2
{
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #c1c1c1;
	margin-top: 40px;
	margin-bottom: 100px;

}
.artists h2 span
{
	color: #a09f9f;
}
.artists .artists_wrap
{
	text-align: justify;
	margin-bottom: 100px;
}
.artists a
{
	text-decoration: none;
	color: #c1c1c1;
	font-size: 42px;
	line-height: 1.2em;
	letter-spacing: -0.25px;
	font-weight: bold;
	text-transform: capitalize;
}
.artists a:hover
{
	text-decoration: none;
	color: #c1c1c1;
}
.artists .artist:nth-child(2n) a
{
	color: #a09f9f;
}
.artists .artist:nth-child(2n) a:hover
{
	text-decoration: none;
	color: #a09f9f;
}
.artists h3
{
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	color: #a09f9f;
	margin-top: 30px;
	margin-bottom: 115px;
	width: 340px;
	margin-left: auto;
	margin-right: auto;
}

.products
{
	width: 800px;
	margin: 0 auto;
}
.products h1
{
	margin-bottom: 50px;
}
.products > p
{
	margin-top: 50px;
}
.products > p span.green
{
	color: #25ae5f;
}
.products .drawing_spot
{
	width: 190px;
	height: 190px;
	border: 2px dashed #d4d4d4;
	border-radius: 4px;
	margin: 50px auto 0;
}
.products .product
{
	height: 250px;
	width: 192px;
	margin: 0 5px 40px;
	position: relative;
	float: left;
}
.products .product:nth-child(4n+1)
{
	margin-left: 0;
}
.products .product:nth-child(4n+4)
{
	margin-right: 0;
}
.products .product .image
{
	border-radius: 7px 7px 0 0;
	background-size: cover;
	width: 192px;
	height: 200px;
	background-position: center;
	position: relative;
}
.products .product .image .text
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 192px;
	text-align: center;
	color: #ececec;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
}
.products .product_button
{
	width: 192px;
	border-radius: 0px 0px 7px 7px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.products .product:hover
{
	margin-top: 0px;
}
.products .product:active
{
	margin-top: 5px;
	margin-bottom: 35px;
}
.products .product:before
{
    background-color: #289656;
    border-radius: 7px;
    bottom: 0;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
	transition: all 0.05s linear 0s;
	-webkit-transition: all 0.05s linear 0s;


}
.products .product:hover:before
{
    bottom: -5px;
}
.products .product:active:before
{
    bottom: 0;
}

.share
{
	width: 775px;
	margin-left: auto;
	margin-right: auto;
}
.share p
{
	text-align: center;
}
.share .links > div
{
	float: left;
	width: 50%;
	text-align: center;
}
.share .copy_field
{
    border: 2px dashed #D4D4D4;
    border-radius: 4px;
    color: #25AE5F;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    height: 25px;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-bottom: 18px;
    margin-top: 60px;
    padding: 10px 0;
    text-align: center;
	background-color: transparent;
	-webkit-appearance: none;
}
.share .share_link .copy_field
{
	width: 340px;
}
.share .hashtag .copy_field
{
	width: 230px;
}

.social_links
{
	margin-top: 160px;
	padding-bottom: 25px;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}
.social_links a
{
	color: #c1c1c1;
	text-decoration: none;
	padding: 0 6px;
	margin: 0 7px
}
.social_links a:hover
{
	color: #a09f9f;
}
.container .overlay
{
	overflow: hidden;
	height: 0;
}
.overlay.visible
{
    background-color: rgba(231, 231, 231, 0.9);
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 99;
	overflow: visible;
}
.overlay1.visible
{
	background-color: #F3F3F3;
}
.overlay2.visible
{
	background-color: rgba(231, 231, 231, 0.9);
	top: 0px;
}
.body-manifest .overlay.visible
{
	min-height: 100%;
	height: auto;
	color: #2b2d2f;
}
.overlay >div
{
	position: relative;
	z-index: 1;
}
.overlay .share
{
	margin-top: 100px;
}
.player
{
	display: none;
}
.player.visible
{
	display: block;
	position: absolute;
	margin-left: -200px;
    margin-top: -383px;
	background-color: #1b1b1b;
	width: 400px;
}
.player .description
{
	height: 70px;
	position: relative;
}
.player .controls
{
	height: 50px;
	position: relative;
}
.player .artist,
.player .festival
{
    font-weight: 500;
    line-height: 28px;
    overflow: hidden;
    padding-left: 20px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    width: 312px;
	margin-top: 5px;
}
.player .artist
{
	color: #e64a3b;
	font-size: 20px;
}
.player .festival
{
	color: #777777;
	font-size: 16px;
	position: relative;
	padding-left: 35px;
	 width: 297px;
}
.player .festival:before
{
	position: absolute;
	top: 3px;
	left: 20px;
	content: "";
	background-image: url('/assets/map_marker_gray.svg');
	width: 12px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
.player .vote
{
    background-color: #e64a3b;
    background-image: url("/assets/like.svg");
    background-position: center 12px;
    background-repeat: no-repeat;
    background-size: auto 35px;
    height: 68px;
    position: absolute;
    right: 0;
    top: 0;
    width: 68px;
	cursor: pointer;
}
.player .vote.liked
{
	background-image: url('/assets/liked.svg');
}
.player .vote .count
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #b7392c;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	text-align: center;
}
.player:after
{
	position: absolute;
	content: "";
	border: 19px solid #1b1b1b;
	border-bottom-color: transparent;
	border-right-color: transparent;
	bottom: -38px;
	left: 50%;
	margin-left: -19px;
}
.player .play
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -15px;
	background-image: url('/assets/play.svg');
}
.player .play.playing
{
	background-image: url('/assets/pause.svg');
}

.body-music .second_footer
{
	color: #253578;
	background-color: #3b5999;
}

.body-music .second_footer .manifest p span
{
	color: #5e6eaf;
}

.overlay .share
{
	width: 800px;
	margin-bottom: 60px;
}
.overlay .share .links
{
	margin-bottom: 30px;
}
.overlay .share input
{
	background-color: #eeeded;
}
.body-manifest .overlay .share input
{
	background-color: transparent;
}
.overlay .about .media,
.overlay .share .media
{
    text-align: center;
}
.overlay .about .zip_download,
.overlay .share .zip_download
{
	margin-top: 50px;
	margin-bottom: 60px;
}
.overlay .about img,
.overlay .share img
{
	width: 370px;
	margin-bottom: 25px;
	margin-top: 50px;
	box-shadow: 0 3px 16px rgba(0,0,0,0.18);
}
.overlay .about img
{
	width: 305px;
}
.overlay .share .media_item
{
	float: left;
	width: 400px;
}
.overlay .about .media_item
{
	float: left;
	width: 335px;
}
