.sign_in h1
{
	margin-top: 400px;
	margin-bottom: 0;
}
.sign_in h3
{
	font-weight: bold;
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	margin-bottom: 20px;
}
.sign_in .social_passes
{
	margin: 0 auto 40px;
	width: 285px;
	
}
.sign_in .social_passes a div
{
	background-position: center 30px;
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 100%;
    width: 100%;
}
.sign_in .social_passes .draugiem div
{
	background-image: url("/assets/draugiem.svg");
}
.sign_in .social_passes .twitter div
{
	background-size: auto 27px;
	background-position: center 32px;
	background-image: url("/assets/twitter.svg");
}
.sign_in .social_passes .facebook div
{
	background-image: url("/assets/facebook.svg");
}
.sign_in .social_passes > a
{
    background-image: url("/assets/logo_green_small.svg");
    background-size: 100% auto;
    height: 96px;
    margin: 0 5px;
    width: 85px;
	float: left;
	display: block;
}
.sign_in p
{
	font-size: 18px;
	line-height: 28px;
	font-weight: 500;
}


.controller-manifest .sign_in .social_passes .draugiem div
{
	background-image: url("/assets/draugiem_black.svg");
}
.controller-manifest .sign_in .social_passes .twitter div
{
	background-image: url("/assets/twitter_black.svg");
}
.controller-manifest .sign_in .social_passes .facebook div
{
	background-image: url("/assets/facebook_black.svg");
}
.controller-manifest .sign_in .social_passes > a
{
    background-image: url("/assets/logo_red_small.svg");
}