.new_vote
{
	width: 800px;
	margin: 400px auto 50px;
}

.new_vote > div
{
	position: relative;
}
.new_vote label
{
	background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    width: 30px;
	margin-right: 75px;
	margin-left: 100px;
}
.new_vote .song label,
.new_vote .artist label
{
	background-image: url('/assets/note.svg');
}
.new_vote .festival label
{
	background-image: url('/assets/map_marker.svg');
}
.new_vote input[type="text"]
{
	background-color: transparent;
	border: 0;
	font-weight: bold;
	font-size: 20px;
	color: #a09f9f;
	width: 500px;
	line-height: 38px;
	margin-bottom: 50px;
}
.new_vote .button
{
	float: right;
	margin-right: 65px;
}
.new_vote .button input
{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    height: 100%;
    width: 100%;
}
.new_vote .preview
{
	display: none;
	background-color: #2b2d2f;
	position: absolute;
	left: 70px;
	top: 60px;
	z-index: 99;
	width: 665px;
	height: 155px;
	overflow: hidden;
	padding: 25px 0;
}
.new_vote .festival .preview
{
	height: 65px;
	width: 535px;
	padding-left: 130px;
	padding-bottom: 0;
	border-bottom: 25px solid #2b2d2f;
}
.new_vote .song .preview,
.new_vote .artist .preview
{
	padding: 35px;
	width: 595px;
	height: 135px;
}
.new_vote .preview .image
{
	height: 100px;
	width: 138px;
	margin: 0 5px;
	display: inline-block;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.new_vote .preview span
{
	display: block;
	color: #e7e7e7;
	cursor: pointer;
}
.new_vote .preview span:hover
{
	color: #4eba6e;
}
.new_vote .rules_link
{
	margin-left: 100px;
}
.new_vote .rules_link
{}