.rules
	.rules_wrap

		%h1 Noteikumi
		%p Pēdējo reizi atjaunots 25.06.2014
		%p Vasara nozīmē brīvību, taču, pirms meties iekšā Latvian Music Summer iespējās, lūdzu, iepazīsties ar dažiem noteikumiem, kas veido šīs platformas noteikumus.
		%ol
			%li Platformas izstrādātāji un uzturētāji ir dizaina un mūzikas mārketinga aģentūra JVeart.
			%li Platforma izstrādāta uz Open-Source kultūtas vērtībām un ir atvērta jebkuram entuziastam.
			%li Platformas mērķis ir veicināt Latvijas festivālu atpazīstamību un mūzikas draugu saikni ar festivāliem, mūziķiem, citiem melomāniem.
			%li Ikviens, kurš lieto platformu, apņemas iepazīties ar tās lietošanas noteikumiem un ievērot tos pēc labākās sirdsapziņas.
			%li Lai pievienotu saturu vai balsotu, jāienāk ar kādu no saviem sociālo tīklu kontiem. Ienākot platformā, taviem datiem ir jābūt īstiem un atbilstošiem reālam cilvēkam. Drīkst ienākt vienu reizi.
			%li Ienākot vietnē, netiek ievākti vai uzglabāti tavi personiskie dati, kā arī tie netiek nodoti trešajām personām. Platforma nolasa un saglabā tikai tavu ID numuru, lai nodrošinātu, ka balsošana notiek korekti.
			%li Ienākot platformā, tavā profilā, bez tavas atļaujas netiks publicēts nekāda veida saturs.
			%li Platformas uzturētājiem ir tiesības dzēst satutu bez brīdinājuma, ja būsi pievienojis viltus datus un/vai publicējis informāciju, kas neatbilst protāla lietošanas noteikumiem.
			%li Izlozē par festivālu biļetēm piedalās tikai tie lietotāji, kuri ienākuši ar kādu no sociālo tīklu profiliem un brīvā formā atstājuši patiesu kontaktinformāciju, lai platformas uzturētāji varētu sazināties uzvaras gadījumā.
			%li Platformas uzturētāji neatbild par lietotāja ievadītās kontaktinformācjas patiesumu.
			%li
				Platforma licencēta zem
				%a{ :href=>'http://creativecommons.org/licenses/by-nc/4.0/', :target => '_blank' } Creative Commons Attribution-NonCommercial 4.0 International License (CC BY-NC 4.0).
				Tas nozīmē, Tu vari:
				%ol
					%li Dalīties – kopēt un izplatīt materiālus jebkurā tehnikā un formātā;
					%li Pielāgot – remiksēt, pārveidot un uz šī materiāla būvēt jaunas idejas.
					%li Šīs brīvības nevar atcelt kamēr tiek ievēroti šie noteikumi un dalies tālāk līdzvērtīgi.
			%li Portāla vizuālā identitāte var tikt izmantota, tikai saskaņojot to ar platformas izstrādātājiem.

= render 'application/footer'
.second_footer
	= render 'music/second_footer'
	.footer_overlay
