%footer{ :class=>"controller-#{controller.controller_name}" }
  Latvian Music Summer © 2014
  %br
  Jūsu brīvība kopēt, pārveidot, remiksēt un dalīties ar visu
  %br
  šajā vietnē atrodamo saturu, pateicoties
  %a{ :href=>"http://creativecommons.org/licenses/by-nc/4.0/", :target=>"_blank"} CC licensei.
  %br
  Ja Tev ir ideja kā kaut kas varētu darboties labāk,
  %a{ :href=>"mailto:hello@jveart.com" } informē mūs
  vai uzlabo to pats
  %a{ :href=>"https://github.com/JVeart/musicsummer_14", :target=>"_blank" } GitHub.
  %br
  Alternative advertising rock, branding pop, design’n’code by
  %a{ :href=>"http://jveart.com", :target=>"_blank" }
    .jveart_logo
